<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app Udacity</title>
</head>

<body>

    <header>
        <div class="logo">
            WEATHER-APP
        </div>
    </header>

    <main>
        <section>
            <form>
                Enter location you want to visit
                <input id="name" type="text" name="input" value="" placeholder="Type place you want to visit..."
                    required>
                The time you will come
                <div class="time-info">
                    <input id="day" value="" placeholder="Type Day here..." required>
                    <input id="month" value="" placeholder="Type Month here..." required>
                    <input id="year" value="" placeholder="Type Year here..." required>
                </div>
                <button id="submit"> SUBMIT</button>
            </form>
        </section>

        <section id="infoShow"></section>
    </main>

    <script>
        document.getElementById('submit').addEventListener('click', () => {
            Client.handleSubmit(event)
        });
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>