header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;

    .logo {
        border-radius: 50%;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        color: rgb(0, 179, 0);
        font-size: 25px;
    }
}